{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],

  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-console": ["warn", { "allow": ["info", "warn", "error", "debug"] }],
    "no-plusplus": 0,
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "no-underscore-dangle": 2,
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,

    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/media-has-caption": 0,
    // Exchange
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state", "memo"] }],
    "react/require-default-props": 0,
    "no-nested-ternary": 0,
    "max-classes-per-file": 0,

    "no-duplicate-case": 0,
    "no-empty-function": 1,
    "dot-notation": 0,
    "prefer-const": 1,
    "no-var": 1,
    "no-unused-vars": 2,

    // End temporary rules

    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
      }
    ]
  }
}
